body{
        background-image: url('../img/9.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
}


.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ad111168;
    border-bottom: 2px solid rgb(83, 2, 174);
    padding: 0.7em;

}

.searchBar{
    border-bottom: red;
}

.cards { 
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.paginado{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

}

.button{
    font-family: "proxima-nova", sans-serif;
    font-weight: 900;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 3px;
    color: rgb(196, 0, 0);
    text-align: center;
    text-transform: capitalize;
    border: 1px solid rgb(255, 4, 4);
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #0000006e;
    z-index:10;
    cursor: pointer;

}

.button:hover{
    border: 1px solid #071982;
	  color: #80ffd3!important;
}
.button::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
	-ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.button::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
	-ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.button:hover::before, .button:hover::before{
	opacity:1;
	width: 116%;
}
.button:hover::after, .button:hover::after{
	opacity:1;
	width: 120%;
}

.paginado{
    display: flex;
    justify-content: center;
}

.bPaginado{
    color: black;
    cursor: pointer;
    border-radius: 10%;
    border: 0.2em solid black;
    background-color: rgba(88, 143, 244, 0.429);
    box-shadow: 4px 4px 12px #f1faeec9;
    font-weight:bold;
    width: 30px;
    height: 30px;
    margin: 0.5em;
}

.aPaginado{
    background-color: yellow;
    color: black;
    cursor: pointer;
    border-radius: 10%;
    border: 0.2em solid black;
    box-shadow: 4px 4px 12px #f1faeec9;
    font-weight:bold;
    width: 30px;
    height: 30px;
    margin: 0.5em;
}